p 
  { 
  	color:black;
  }

h1 {
  	color:grey;
  }

img {
  position:absolute;
  height:10%;
  width:10%;
}


nav {
    position: absolute;
    top:100px;
    left: 0px;
    width: 200px;
  }

#wrapper ul li{  
  position:relative;
  margin-left:20%;
  max-width:500px; 
  display:inline;
  background: red;
}

#content {
  margin-left: 200px;
  top:200px;
}


  .date{
  	color:red;
  }


  .para1 {
    position:relative;
    background-color: transparent;
    max-width: 500px;
    margin: 0 ;
    overflow: auto;
  }

  .para2 {
    position: relative;
    background-color: transparent;
    max-width: 500px;
    margin: 0 ;
    overflow: auto;
  }

  .para3{
    position: relative;
    background-color: transparent;
    max-width: 500px;
    margin: 0 ;
    overflow: auto;
  }

  .menu {
    position: relative;
    background-color: transparent;
    max-width: 500px;
    margin: 0 ;
    overflow: auto;
  }



* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
