p 
  { 
  	color:black;
  }

  h1 {
  	color:blue;
  }

  .date{
  	color:red;
  }

  .para1 {
    position:relative;
    background-color: transparent;
    width: 500px;
    margin: 0 auto;
    overflow: auto;
  }

  .para2 {
    position: absolute;
  }

  .para3{
    position: relative;
  }

.menu {
    position: relative;
  }

.nav{
    position: absolute;
    left: 0px;
    width: 200px;
  }

img {
  float:right;
  margin: 0 0 1em 1em;
  width: 50%;
}
